html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'bebas';
    src: url('fonts/bebas.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto.ttf') format('truetype');
}

body {
    background-color: #333333;
    background-image: url('../img/striped_background.jpg');
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
}

section {
    margin: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0 15px 10px 10px #4d4d4d;
    box-shadow: 0 15px 10px 10px #4d4d4d;
    display: inline-block;
    min-width: 300px;
    max-width: 750px;
}

h1 {
    font-size: 3rem;
    line-height: 0.75;
}

h1,
h2 {
    color: #95008c;
    font-family: 'bebas', sans-serif;
}

#hidden_title {
    display: none;
}

h3,
p {
    color: #585858;
    font-family: 'roboto', sans-serif;
}
